.portfolio{
    position: relative;
    min-height: 600px;
    width: 100%;
    padding-top: 35%;
    z-index: 4;
}

.portfolio .thumbnail-inner{
    transition: transform .28s ease;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 5px;
}
.thumbnail-inner::before{
    background-image: linear-gradient(#f6004c 10%,#000 100%);
}

.portfolio .thumbnail::after {
    background-color: rgba(45,45,45,.35);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: " ";
    z-index: 1;
    display: block;
    border-radius: 5px;
    background-color: rgba(25,25,25,.37);
}

.portfolio .bg-blr-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #0a0a0a;
    transform: translateY(38px);
    opacity: 0;
    z-index: 1;
}